# dependencies
/node_modules
/.pnpm-store

# next.js build output
/.next/
/out/

# production & environment files
.env*.local

# debug & task logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
